doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title My Site
    body
        #maket
        header
            .wrap
                a.logo(href="./")
                .header_right
                    .contact_info
                        p Офис ежедневно с 10:00 до 20:00
                        a(href="tel:+7 495 755-24-00") +7 495 755-24-00
                    .messengers
                        a(href="./").telegram
                        a(href="./").whatsapp
                    .menu 
                        span.text Меню
                        span.menu_button
        section.section1
            .wrap
                h1 Студия комплексного
                    br
                    | дизайна интерьера квартир
                p Делаем подробные дизайн-проекты
                    br
                    | и сопровождаем их во время ремонта
                button.button Рассчитать стоимость
        section.section2
            .wrap
                .item_grup
                    - var list = [
                    - { img: 'work_icon', text: 'Работаем по Москве и области' }, 
                    - { img: 'contract_icon', text: 'Заключаем официальный договор' }, 
                    - { img: 'staf_icon', text: 'Подбираем реальную мебель и материалы' }, 
                    - { img: 'creditcard_icon', text: 'Фиксированная цена 2500 ₽ за м²' }
                    - ]
                    each item in list
                        .item
                            span(class= item.img)
                            p= item.text
        section.section3
            .wrap
                h2 Спроектировано
                .project_grup
                    - var list = [
                    - { url: 'project', title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                    - { url: 'project', title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                    - { url: 'project', title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                    - { url: 'project', title: 'Квартира-студия, 47 м²', text: 'Москва, ЖК «RedSide»' },
                    - ]
                    each item in list
                        .item
                            .img(class= item.url)
                            .text
                                .title= item.title
                                p= item.text
        section.section4
            .wrap
                h2 Делаем с любовью и в срок
                p Внимательно подходим к каждому заказчику. Подробно узнаем что вам нравится а что не нравится, например, нужен ли гигиенический душ в ванной, или сколько мест хранения оставить под гардероб. После этого объединяем ваши пожелания, особенности квартиры и наши навыки в подробный дизайн-проект, с которым можно приступать к ремонту. Мебель, материалы и ключевые решения подбираем под ваш бюджет.
                h3 Занимаемся только дизайн-проектами
                p Без декорирования, платных консультаций, выездов по магазинам и других дополнительных услуг. 
                p Делаем только дизайн-проекты, но делаем их хорошо.
        section.section5
            .wrap
                .block.step_start
                    .left
                        .step
                    .right
                        h2 Процесс разработки 
                            br 
                            | разбит на 5 этапов, и потребует
                            br
                            | вашего участия
                .block.step1
                    .left
                        .step 1.
                    .right
                        h3 
                            span Встретимся на объекте, 
                            | снимем 
                            br
                            | точные размеры и зафиксируем ваши пожелания
                        p Вместе с дизайнером вы определитесь с общим стилем и настроением интерьера, цветовой гаммой, пожеланиями по функциональности и кучей друих вопросов касательно будущего ремонта.
                        .img
                .block.step2
                    .left
                        .step 2.
                    .right
                        h3 Разработаем 
                            span планировочное решение 
                        p Исходя из геометрии квартиры, строительных норм и ваших личных предпочтений найдем максимально интересную и функционально оправданную планировку. Как правило, получается 2-3 хороших варианта, из которых выбираем один и дорабатываем.
                        .img
                .block.step3
                    .left
                        .step 3.
                    .right
                        h3 Сделаем 
                            span 3d визуализации
                        p В программе 3D MAX построим качественные фотореалистичные изображения каждой комнаты, которые дадут полное представление о будущем интерьере.
                        p По ним вы сможете согласовать общий стиль, цветовое решение, сочетание материалов, мебели, и в целом посмотреть как будет выглядеть ваша квартира когда закончится ремонт.
                        .img
                .block.step4
                    .left
                        .step 4.
                    .right
                        h3 Подготовим рабочие 
                            span схемы и чертежи,
                            br
                            | подберем мебель и материалы
                        p Планы пола, потола, схемы расположения светильников, розеток, выключателей, развертки по стенам, 
                            | списки мебели для покупки и другие материалы, которые нужны для того, чтобы воплотить проект.
                        .img
                .block.step0
                    .left
                        .step
                    .right
                        h2 В итоге вы получите проект, по которому
                            br
                            | ремонтная бригада сможет реализовать интерьер
                        button.button_project Состав проекта
                        .img
                .block.step5
                    .left
                        .step 5.
                    .right
                        h3 
                            span Сопровождаем проект 
                            | до конца ремонта
                        p На практике не бывает проектов без вопросов уже после его сдачи. Где-то изменится конфигурация шкафа, и нужно будет подкорректировать чертеж, а где-то решите в последний момент заменить диван, и захочется спросить, не будет ли он выбиваться из общей концепции.
                        .whatsapp_block
                            .phone
                            p Для удобства работы используем Whatsapp, в общий чат подключается дизайнер, арт-директор и заказчик(и) проекта. Это позволяет оперативно вести и согласовывать работу на всех этапах и легко обмениваться материалами по проекту.
        section.section6
            .wrap
                h2 Обсудите с менеджером
                    br 
                    |детали вашего проекта
                form(action="", method="post", id="form")
                    .input
                        label(for="count_input") Площадь объекта
                        .count_input
                            span.minus -
                            input#count_input(type="text", name="", value="75 м²")
                            span.plus +

                    .input
                        input(type="text", name="", placeholder="Ваше имя")
                    .input
                        input(type="tel", name="", placeholder="Номер телефона")
                .form_grup
                    p Предварительная стоимость
                    .right
                        span (75 м² × 2500 ₽)  187 500 ₽
                .form_grup
                    p Срок выполнения
                    .right
                        span до 40 рабочих дней
                .form_grup
                    p Ближайшая дата замера
                    .right
                        span 28.11.2019
                        .tooltip В связи с большой загруженностью, в ближайший месяц мы не берем 
                            | новые проекты, но вы можете забронировать дату замера заранее
                button.button(type="submit", form="form") Обсудить проект
                p.button_text Нажимая на кнопку «Обсудить проект»,
                    br
                    | вы принимаете политику конфиденциальности