doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="description" content="Делаем подробные дизайн-проекты квартир и сопровождаем их во время ремонта")
        meta(name="keywords" content="interiqa, интерика, студия дизайна интерьера, дизайн проект интерьера, дизайн интерьера кухни, дизайн интерьера гостиной, дизайн интерьера спальни, дизайн интерьера москва, дизайн интерьера, дизайн интерьера квартиры")
        link(rel="icon", href=require("../favicon-32x32.png"), type="image/png", sizes="32x32")
        link(rel="apple-touch-icon", href=require("../apple-touch-icon-180x180.png"), sizes="180x180")
        title interiqa | Студия дизайна интерьера
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        #thank
            header
                .wrap
                    .header
                        a.logo(href="./")
                            img(src=require("../img/logo.svg"), height="41", width="190", alt="interiqa")
            section
                .wrap
                    h2 Спасибо
                        br 
                        | за обращение
                    p Наш специалист свяжется с вами по указанному телефону, 
                        br 
                        | сразу как увидит заявку (рабочее время 
                        br.br_mobile 
                        | — каждый день с 10:00 до 21:00 по Москве)
                    a.button_sostav(href="./") Вернуться на сайт