@keyframes menuOpen {
    from {
      height: 0;
    }
  
    to {
      height: 500px;
    }
  }
  @keyframes headerMenuOpen {
    from {
      height: 0;
      top: -45px;
    }
  
    to {
      height: 90px;
      top: 0;
    }
  }

  @keyframes popapOpen {
    from {
      transform: translateY(100vh);
    }
  
    to {
      transform: none;
    }
  }
  @keyframes menuOpen {
    from {
      opacity: 0;
      z-index: 3;
    }
  
    to {
      opacity: 1;
      z-index: 3;
    }
  }
  @keyframes menuClose {
    from {
      opacity: 1;
      z-index: 3;
    }
  
    to {
      opacity: 0;
      z-index: 0;
    }
  }
  @keyframes popapClose {
    from {
      transform: none;
    }
  
    to {
      transform: translateY(100vh);
    }
  }