@font-face {
  font-family: TTNorms-regular;
  src: url(../fonts/TTNorms-Regular.ttf);
}
@font-face {
  font-family: TTNorms-medium;
  src: url(../fonts/TTNorms-Medium.ttf);
}
@font-face {
  font-family: TTNorms-bold;
  src: url(../fonts/TTNorms-Bold.ttf);
}
@mixin font-regular {
  font-family: TTNorms-regular;
}
@mixin font-medium {
  font-family: TTNorms-medium;
}
@mixin font-bold {
  font-family: TTNorms-bold;
}
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,sup:after,sup:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
a{text-decoration:none;color:inherit;outline:0!important}
button,input,textarea{outline:0; background: none; border: none;}
h1, h2, h3 {@include font-bold;}
h1 { font-size: 40px; }
h2 { font-size: 36px; }
input {
  @include font-regular;
  font-size: 20px;
  color: #383838;
}
section {
  width: 100%;
  overflow: hidden;
  position: relative;
}
body {
  font-size: 14px;
  @include font-regular;
  color: #383838;
  background-color: #f8f7f3;
}
#maket {
  background: url(../img/maket_sostav.jpg);
  position: absolute;
  top: 9711px;
  left: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  z-index: 1;
  height: 2800px;
}
.wrap { 
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}
@mixin content {
  content: '';
  position: absolute;
}
button {
  cursor: pointer;
}
.button {
  border-radius: 12px;
  background-color: rgb(254, 87, 87);
  box-shadow: 0px 2px 0px 0px rgba(229, 77, 77, 0.004),0px 10px 30px 0px rgba(254, 87, 87, 0.6);
  width: 274px;
  height: 60px;
  font-size: 20px;
  @include font-medium;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.35s;
  &:hover, &:active, &:focus {
    transition: all 0.35s;
    background-color: rgb(255, 97, 97);
    box-shadow: 0px 2px 0px 0px rgba(229, 77, 77, 0.004),0px 5px 15px 0px rgba(254, 87, 87, 0.6);
  }
}
.button_project {
  color: #383838;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1),0px 2px 0px 0px rgba(214, 214, 214, 0.004);
  width: 216px;
  height: 60px;
  @include font-medium;
  transition: all 0.35s;
  &:hover, &:active, &:focus {
    transition: all 0.35s;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1),0px 2px 0px 0px rgba(214, 214, 214, 0.004);
  }
}
header {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      img {
        display: inline-block;
        width: 190px;
        height: 41px;
      }
    }
    .header_right {
      display: flex;
      align-items: flex-start;
      .contact_info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
          font-size: 24px;
          margin-top: 3px;
        }
        p {
          margin-top: -3px;
          position: relative;
          &::before, &::after {
            @include content;
            border-radius: 50%;
          }
          &::before {
            background-color: #9cc690;
            width: 10px;
            height: 10px;
            left: -23px;
            top: 3px;
          }
          &::after {
            background-color: #4ea848;            
            width: 4px;
            height: 4px;
            left: -20px;
            top: 6px;
          }
        }
      }
      .menu {
        margin-top: 10px;
        display: flex;
        align-items: center;
        .text {
          @include font-medium;
            font-size: 16px;
            margin-right: 19px;
        }
        .menu_button {
          position: relative;
          width: 28px;
          height: 3px;
          background: #383838;
          display: inline-block;
          border-radius: 6px;
          &::before, &::after {
            @include content;
            border-radius: 6px;
            left: 0;
            right: 0;
            height: 3px;
            background: #383838;
          }
          &::before {
            top: -11px;
          }
          &::after {
            bottom: -11px;
          }
        }
      }
      .messengers {
        margin: 0 34px 0 14px;
        a {
          width: 40px;
          height: 40px;
          display: inline-block;
          margin: 0 15px 0 15px;
        }
      }
    }
  }
}
.section1 {
  background-image: url(../img/section1.jpg);
  height: 800px;
  .wrap {
    padding-top: 260px;
    padding-left: 160px;
    p {
      @include font-regular;
      font-size: 20px;
      margin-top: 19px;
      line-height: 30px;
    }
    .button {
      margin-top: 42px;
    }
  }
}
.section2 {
  background-color: rgb(249, 248, 245);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  height: 220px;
  .wrap {
    .item_grup {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding: 27px 159px;
      justify-content: space-between;
      .item {
        display: flex;
        align-items: center;
        margin: 20px 0;
        width: 50%;
        img {
          min-height: 40px;
          width: 44px;
          object-fit: none;
        }
        p {
          font-size: 16px;
          color: rgb(56, 56, 56);
          margin-left: 26px;
        }
      }
    }
  }
}
.section3 {
  .wrap {
    padding: 1px 0 100px;
    h2 {
      margin-top: 89px;
      margin-left: 157px;
    }
    .project_grup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        border-radius: 12px;
        background-color: rgb(225, 209, 184);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
        width: 620px;
        margin-top: 42px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .img  {
          width: 100%;
          height: 372px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          padding: 18px 34px;
          .title {
            @include font-medium;
            font-size: 20px;
          }
          p {
            font-size: 18px;
            margin-top: 9px;
            position: relative;
            padding-left: 21px;
            background-image: url(../img/point.png);
            background-position: left center;
            min-height: 13px;
          }
        }
      }
    }
  }
}
.section4 {
  background-image: url(../img/section4.jpg);
  height: 640px;
  .wrap {
    padding: 1px 0 0 159px;
    h2 {
      margin-top: 129px;
      margin-bottom: 22px;
    }
    p {
      font-size: 18px;
      max-width: 840px;
      width: 100%;
      line-height: 27px;  
    }
    h3 {
      font-size: 24px;
      margin-top: 62px;
      position: relative;
      padding-left: 54px;
      background-image: url(../img/stop_icon.png);
      padding-top: 8px;
      background-position: top left;
      min-height: 40px;
      margin-bottom: 21px;
    }
  }
}
.section5 {
  .wrap {
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    padding-bottom: 98px;
    .block {
      display: flex;
      margin-top: 85px;
      .left {
        width: 160px;
        .step {
          border-radius: 12px;
          text-align: center;
          font-size: 30px;
          color: rgb(255, 255, 255);
          @include font-bold;
          line-height: 55px;
          margin-left: 11px;
          position: relative;
          &::after {
            @include content;
            width: 2px;
            top: 55px;
            left: 27px;
          }
        }
      }
      .right {
        width: 75%;
        display: flex;
        flex-direction: column;
        h3 {
          margin-top: 9px;
        }
      }
      &.step_start {
        .step {
          background-color: rgb(229, 229, 229);
          width: 80px;
          height: 80px;
          background-image: url(../img/hi_girl.png);
          background-position: center;
          margin-top: 10px;
          margin-left: 0;
          &::after {
            background-image: url(../img/line_step_start.png);
            height: 132px;
            top: 80px;
            left: 38px;
          }
        }
      }
      &.step1 {
        .step {
          background-color: #8f6d9d;
          width: 55px;
          height: 55px;
          margin-top: 8px;
          &::after {
            background-image: url(../img/line_step_1.png);
            height: 852px;
          }
        }
        h3 {
          margin-top: 0px;
          span {
              color: #8f6d9d;
          }
        }
        .img {
          background-image: url(../img/step1.jpg);
          height: 640px;
        }
      }
      &.step2 {
        margin-top: 83px;
        .step {
          background-color: #518685;
          width: 55px;
          height: 55px;
          &::after {
            background-image: url(../img/line_step_2.png);
            height: 871px;
          }
        }
        h3 {
          span {
              color: #518685;
          }
        }
        .img {
          background-image: url(../img/step2.jpg);
          height: 650px;
        }
      }
      &.step3 {
        margin-top: 84px;
        .step {
          background-color: #387c58;
          width: 55px;
          height: 55px;
          &::after {
            background-image: url(../img/line_step_3.png);
            height: 937px;
          }
        }
        h3 {
          span {
              color: #387c58;
          }
        }
        .img {
          background-image: url(../img/step3.jpg);
          height: 650px;
        }
      }
      &.step4 {
        margin-top: 83px;
        .step {
          background-color: #8f6d9d;
          width: 55px;
          height: 55px;
          margin-top: 17px;
          &::after {
            background-image: url(../img/line_step_4.png);
            height: 873px;
          }
        }
        h3 {
          span {
              color: #e95347;
          }
        }
        .img {
          background-image: url(../img/step4.jpg);
          height: 650px;
        }
      }
      &.step0 {
        margin-top: 90px;
        .step {
          background-color: rgb(229, 229, 229);
          width: 80px;
          height: 80px;
          background-image: url(../img/hi_man.png);
          background-position: center;
          margin-left: 0;
          margin-top: 4px;
          &::after {
            background-image: url(../img/line_step_5.png);
            height: 888px;
            left: 38px;
            top: 80px;
          }
        }
        .img {
          background-image: url(../img/step0.jpg);
          height: 650px;
        }
      }
      &.step5 {
        .step {
          background-color: #aa8d5b;
          width: 55px;
          height: 55px;
        }
        h3 {
          span {
              color: #aa8d5b;
          }
        }
      }
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
        padding-top: 23px;
        line-height: 27px;
        width: 98%;
      }
      .img {
        border-radius: 12px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
        width: 960px;
        margin-top: 43px;
      }
      .button_project {
        margin: 40px 0 8px;
      }
    }
    .whatsapp_block {
      border-radius: 12px;
      background-color: #4ea848;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      width: 100%;
      margin-top: 94px;
      display: flex;
      padding: 0 48px 0;
      flex-direction: row;
      padding-top: 30px;
      .phone {
        background-image: url(../img/phone.jpg);
        width: 163px;
        height: 164px;
      }
      p {
        color: #ffffff;
        width: 75%;
        padding: 0;
        margin: 13px 0 0 48px;
      }
    }
  }
}
.section6 {
  background-color: rgb(248, 247, 243);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  height: 766px;
  .wrap {
    max-width: 960px;
    padding-top: 1px;
    padding-bottom: 102px;
    h2 {
      position: relative;
      margin-top: 92px;
      &::after {
        @include content;
        background-image: url(../img/albom.jpg);
        top: -66px;
        right: -11px;
        width: 284px;
        height: 214px;
      }
    }
    form {
      margin-top: 37px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
      .input {
        label {
          font-size: 18px;
        }
        input {
          border-width: 1px;
          border-color: rgb(200, 200, 200);
          border-style: solid;
          border-radius: 12px;
          background-color: rgb(255, 255, 255);
          box-shadow: inset 0px 3px 0px 0px rgba(235, 233, 232, 0.004);
          width: 280px;
          height: 60px;
          padding: 0 31px;
        }
        .count_input {
          border-width: 1px;
          border-color: rgb(200, 200, 200);
          border-style: solid;
          border-radius: 12px;
          background-color: rgb(255, 255, 255);
          width: 280px;
          height: 60px;
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          span {
            color: #353434;
            font-size: 32px;
            display: inline-block;
            text-align: center;
            background-color: rgb(235, 233, 232);
            width: 62px;
            line-height: 55px;
          }
          input {
            width: 156px;
            text-align: center;
            border: none;
          }
        }
      }
    }
    .form_grup {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 20px;
        width: 50%;
      }
      &.price {
        p {
          margin-top: 16px;
        }
      }
      &.time {
        margin-top: 13px;
      }
      &.date {
        margin-top: 17px;
        margin-bottom: 50px;
        .right {
          flex-direction: column;
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        span {
          font-size: 20px;
          display: inline-block;
          &.price_static {
            margin-right: 14px;
            margin-bottom: 4px;
          }
          &.price_dynamic {
            font-size: 36px;
            @include font-bold;
          }
          &.time{
            @include font-bold;
          }
          &.date {
            background-color: rgb(238, 166, 42);
            @include font-bold;
            color: white;
            padding: 3px 14px 4px;
            margin-top: -3px;
            margin-right: 1px;
            border-radius: 12px;
          }
          &.tooltip {
            border-radius: 12px;
            background-color: rgb(238, 166, 42);
            font-size: 14px;
            color: white;
            text-align: left;
            padding: 9px 12px;
            margin-top: 19px;
            margin-right: 1px;
            position: relative;
            line-height: 21px;
            &::before {
              @include content;
              border: 10px solid transparent;
              border-bottom: 10px solid #eea62a;
              top: -19px;
              right: 24px;
            }
          }
        }
      }
    }
    .btn_grup {
      display: flex;
      align-items: center;  
      button {
        width: 231px;
      }
      .button_text {
        color: #757575;
        margin-left: 33px;
        line-height: 21px;
      }
    }
  }  
}
footer  {
  background-color: rgb(43, 43, 42);
  .wrap {
    padding: 101px 0 47px;
    display: flex;
    flex-direction: column;
    .footer_grup {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .footer_left {
        display: flex;
        .messengers {
          a {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right: 29px;
            img {

            }
          }
        }
        .contact_info {
          p {
            color: rgb(117, 117, 117);
            position: relative;
            margin: -3px 0 3px;
            &::before, &::after {
              @include content;
              border-radius: 50%;
            }
            &::before {
              background-color: #9cc690;
              width: 10px;
              height: 10px;
              right: -23px;
              top: 3px;
            }
            &::after {
              background-color: #4ea848;            
              width: 4px;
              height: 4px;
              right: -20px;
              top: 6px;
            }
          }
          a {
            color: #ffffff;
            font-size: 24px;
          }
        }
      }
      .instagram_grup {
        display: flex;
        span {
          color: #ffffff;
          font-size: 18px;
          margin-right: 19px;
          margin-top: 7px;
        }
        img {

        }
      }
    }
    .politic {

    }
    hr {
      background-color: #585858;
      height: 1px;
      width: 100%;
      border: none;
      margin-top: 143px;
      margin-bottom: 45px;
    }
    .footer_info {
      font-size: 14px;
      color: #757575;
      line-height: 21px;
    }
    .copy_write {
      font-size: 14px;
      color: #757575;
      margin-top: 23px;
    }
  }
}
#hidden_box {

}
.popap {
  .close {
    border-radius: 12px;
    background-color: rgb(248, 247, 243);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 48px;
    height: 48px;
    right: 152px;
    top: 40px;
    &::before, &::after {
      @include content;
      background-color: rgb(65, 63, 62);
      width: 27px;
      height: 3px;
      top: 23px;
    }
    &::before{
      left: 10px;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
      right: 10px;
    }
  }
  .wrap {
    padding-top: 2px;
    max-width: 960px;
    h2 {
      margin-top: 170px;
    }
    p {
      font-size: 18px;
      margin-top: 22px;
      line-height: 27px;
    }
    .ul {
      display: flex;
      margin-top: 52px;
      flex-direction: column;
      .li {
        color: #424242;
        font-size: 20px;
        margin: 9px 0 8px;
        list-style: none;
      }
    }
  }
  .img {
    margin-top: 63px;
  }
}